<header>Vanishing Bridge</header> 
<div id="settings" *ngIf="myMode=='settings'" >
  <h1>Settings</h1>
  Number of players: 
  <select id="numPlayers" [(ngModel)]="numPlayers" (ngModelChange)="onChangeNumPlayers()">
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <br/><br/>
  Player names:
  <ul>
    <li *ngFor="let playerName of playerNames; let i =index;">
      <input type="text" [(ngModel)]="playerNames[i].name" placeholder="enter name">
    </li>
  </ul>
  First Dealer: 
  <select id="startD" [(ngModel)]="startDealer" (ngModelChange)="onSelectDealer($event.target.value)" >
    <option *ngFor="let playerName of playerNames; let i =index;" [ngValue]="i">{{playerNames[i].name}}</option>
  </select>
  <button type="button" (click)="onPickRandomDealer()" >Pick random dealer</button>
  <br/><br/>
</div>
<div id="play" *ngIf="myMode=='play'" >
  <table>
    <tr>
      <th>Cards</th>
      <th *ngFor="let playerName of playerNames; let i =index;" >{{playerNames[i].name}}</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let cl of cardLevels;">
      <td>{{cl}}</td>
      <td *ngFor="let playerName of playerNames; let i =index;" ><square [cardLevel]="cl" [playerID]="i" [startLvl]="maxCards" [numPlayers]="numPlayers" [startDealer]="startDealer" (bidSet)="onBidSet($event)" (pointsSet)="onPointsSet($event)" ></square></td>
      <td ><action id={{cl}} [cardLevel]="cl" [startLvl]="maxCards" (actionStageIncreased)="onActionStageIncreased($event)" ></action></td>
    </tr>
    <tr>
      <td>Totals</td>
      <td *ngFor="let playerName of playerNames; let i =index;" >{{pointTotals[i]}}</td>
      <td></td>
    </tr>
  </table>
</div>
<footer>
  <button type="button" (click)="onClickedStart()" >{{buttonText}}</button>
</footer>