<span *ngIf="stage==0"  >-</span>
<span *ngIf="stage==1" [ngClass]="setClasses()" >
  <select [(ngModel)]="squareBid" (change)="onChangeBid($event.target.value)" >
    <option *ngFor="let p of squareCards" [ngValue]="p" >{{p}}</option>
  </select>
</span>
<span *ngIf="stage==2" [ngClass]="setClasses()" >{{squareBid}}</span>
<span *ngIf="stage==3" >
  <select [(ngModel)]="squareTricks" (change)="onChangeTricks($event.target.value)" >
    <option *ngFor="let p of squareCards" [ngValue]="p" >{{p}}</option>
  </select>  
</span>
<span *ngIf="stage==4" [style.background-color]="isSpecial ? 'light blue' : ''" >{{squarePoints}}</span>
  