<span *ngIf="stage==0" >-</span>
<span *ngIf="stage==1" >
  <select [(ngModel)]="squareBid" (change)="onChangeBid($event.target.value)" >
    <option *ngFor="let p of squareCards" [ngValue]="p" >{{p}}</option>
  </select>
</span>
<span *ngIf="stage==2" >{{squareBid}}</span>
<span *ngIf="stage==3" >
  <select [(ngModel)]="squareTricks" (change)="onChangeTricks($event.target.value)" >
    <option *ngFor="let p of squareCards" [ngValue]="p">{{p}}</option>
  </select>  
</span>
<span *ngIf="stage==4" >{{squarePoints}}</span>
